body {
  background: #F3F2EC;
  overflow-x: hidden;
}

.header-font {
  font-family: "Prata", Georgia, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-color {
  background: #EDEBE4;
}

.card-body {
  min-height: 142px;
}